<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.uupm.dao.UupmTenantDao">


	<!-- ######################################################################### -->
	<!-- #########################   common sql begin    ######################### -->
	<!-- ######################################################################### -->
	
	<!-- 表名 -->
	<sql id="table_name"> uupm_tenant </sql>
	<!-- 列名 -->
	<sql id="table_columns">
		t.VERSION as version, t.DEL_FLAG as delFlag, t.CREATE_BY as createBy, t.CREATE_TIME as createTime, t.UPDATE_BY as updateBy, 
		t.UPDATE_TIME as updateTime, t.TENANT_CODE as tenantCode, t.ID as id, t.END_TIME as endTime, t.SERVE_TYPE as serveType, 
		t.START_TIME as startTime, t.TENANT_NAME as tenantName, t.TENANT_STATUS as tenantStatus, t.TENANT_TYPE as tenantType
	</sql>
	<!-- 分页条件 -->
	<sql id="conditions_limit"><if test="page != null"> limit #{page.startIndex}, #{page.pageLimit} </if></sql>
	<!-- 排序条件 -->
	<sql id="conditions_orderby">
		<choose>
			<when test="orderBy != null and orderBy !=''"> ORDER BY #{orderBy} </when>
			<otherwise> ORDER BY id desc </otherwise>
		</choose>
	</sql>
	<!-- 动态组装复合查询条件 -->
	<sql id="conditions_where">
		<if test="entity != null">
			<!-- Equal query -->
			<if test="entity.version != null "> and t.VERSION = #{entity.version} </if>
			<if test="entity.delFlag != null and entity.delFlag != ''"> and t.DEL_FLAG = #{entity.delFlag} </if>
			<if test="entity.createBy != null and entity.createBy != ''"> and t.CREATE_BY = #{entity.createBy} </if>
			<if test="entity.createTime != null "><![CDATA[ and t.CREATE_TIME = #{entity.createTime}]]> </if>
			<if test="entity.updateBy != null and entity.updateBy != ''"> and t.UPDATE_BY = #{entity.updateBy} </if>
			<if test="entity.updateTime != null "><![CDATA[ and t.UPDATE_TIME = #{entity.updateTime}]]> </if>
			<if test="entity.tenantCode != null and entity.tenantCode != ''"> and t.TENANT_CODE = #{entity.tenantCode} </if>
			<if test="entity.id != null and entity.id != ''"> and t.ID = #{entity.id} </if>
			<if test="entity.endTime != null "><![CDATA[ and t.END_TIME = #{entity.endTime}]]> </if>
			<if test="entity.serveType != null and entity.serveType != ''"> and t.SERVE_TYPE = #{entity.serveType} </if>
			<if test="entity.startTime != null "><![CDATA[ and t.START_TIME = #{entity.startTime}]]> </if>
			<if test="entity.tenantStatus != null and entity.tenantStatus != ''"> and t.TENANT_STATUS = #{entity.tenantStatus} </if>
			<if test="entity.tenantType != null and entity.tenantType != ''"> and t.TENANT_TYPE = #{entity.tenantType} </if>
			<!-- Like query -->
			<if test="entity.tenantName != null and entity.tenantName != ''"> and t.TENANT_NAME like CONCAT(CONCAT('%', #{entity.tenantName}), '%') </if>
		</if>
		<if test="propsMap != null">
			<!-- In query -->
			<if test="propsMap.tenantCodeIter != null and propsMap.tenantCodeIter.size()>0">
			and t.TENANT_CODE in <foreach item="item" index="index" collection="propsMap.tenantCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.idIter != null and propsMap.idIter.size()>0">
			and t.ID in <foreach item="item" index="index" collection="propsMap.idIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
	</sql>
	<!-- 条件查询 -->
	<select id="selectListBy" parameterType="java.util.Map" resultType="com.yffd.easy.uupm.entity.UupmTenantEntity">
		select <include refid="table_columns" />
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
		<include refid="conditions_orderby" />
		<include refid="conditions_limit" />
	</select>
	<!-- 统计查询 -->
	<select id="selectCountBy" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from 
		<include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条查询 -->
	<select id="selectOneBy" parameterType="java.util.Map" resultType="com.yffd.easy.uupm.entity.UupmTenantEntity">
		select <include refid="table_columns" /> 
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条插入 -->
	<insert id="insertOneBy" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, TENANT_CODE, END_TIME, SERVE_TYPE, START_TIME, TENANT_NAME, TENANT_STATUS, TENANT_TYPE)
		values
		(#{version}, #{delFlag}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{tenantCode}, #{endTime}, #{serveType}, #{startTime}, #{tenantName}, #{tenantStatus}, #{tenantType})
	</insert>
	<!-- 批量插入 -->
	<insert id="insertListBy" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, TENANT_CODE, END_TIME, SERVE_TYPE, START_TIME, TENANT_NAME, TENANT_STATUS, TENANT_TYPE)
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.version},#{item.delFlag},#{item.createBy},#{item.createTime},#{item.updateBy},
		#{item.updateTime},#{item.tenantCode},#{item.endTime},#{item.serveType},#{item.startTime},
		#{item.tenantName},#{item.tenantStatus},#{item.tenantType})
		</foreach>
	</insert>
	<!-- 更新 -->
	<update id="updateBy" parameterType="java.util.Map">
		update <include refid="table_name" />
		<set>
		<if test="entity != null">
			VERSION = VERSION + 1, 
			<if test="entity.delFlag != null and entity.delFlag != ''"> DEL_FLAG = #{entity.delFlag},  </if>
			<if test="entity.updateBy != null and entity.updateBy != ''"> UPDATE_BY = #{entity.updateBy},  </if>
			<if test="entity.updateTime != null"> UPDATE_TIME = #{entity.updateTime},  </if>
			<if test="entity.tenantCode != null and entity.tenantCode != ''"> TENANT_CODE = #{entity.tenantCode},  </if>
			<if test="entity.endTime != null"> END_TIME = #{entity.endTime},  </if>
			<if test="entity.serveType != null and entity.serveType != ''"> SERVE_TYPE = #{entity.serveType},  </if>
			<if test="entity.startTime != null"> START_TIME = #{entity.startTime},  </if>
			<if test="entity.tenantName != null and entity.tenantName != ''"> TENANT_NAME = #{entity.tenantName},  </if>
			<if test="entity.tenantStatus != null and entity.tenantStatus != ''"> TENANT_STATUS = #{entity.tenantStatus},  </if>
			<if test="entity.tenantType != null and entity.tenantType != ''"> TENANT_TYPE = #{entity.tenantType},  </if>
		</if>
		</set>
		<where>
		<choose>
		<when test="entityOld != null or propsMap != null">
		<if test="entityOld != null">
			<!-- Equal query -->
			<if test="entityOld.version != null "> and VERSION = #{entityOld.version} </if>
			<if test="entityOld.delFlag != null and entityOld.delFlag != ''"> and DEL_FLAG = #{entityOld.delFlag} </if>
			<if test="entityOld.createBy != null and entityOld.createBy != ''"> and CREATE_BY = #{entityOld.createBy} </if>
			<if test="entityOld.createTime != null "><![CDATA[ and CREATE_TIME = #{entityOld.createTime}]]> </if>
			<if test="entityOld.updateBy != null and entityOld.updateBy != ''"> and UPDATE_BY = #{entityOld.updateBy} </if>
			<if test="entityOld.updateTime != null "><![CDATA[ and UPDATE_TIME = #{entityOld.updateTime}]]> </if>
			<if test="entityOld.tenantCode != null and entityOld.tenantCode != ''"> and TENANT_CODE = #{entityOld.tenantCode} </if>
			<if test="entityOld.id != null and entityOld.id != ''"> and ID = #{entityOld.id} </if>
			<if test="entityOld.endTime != null "><![CDATA[ and END_TIME = #{entityOld.endTime}]]> </if>
			<if test="entityOld.serveType != null and entityOld.serveType != ''"> and SERVE_TYPE = #{entityOld.serveType} </if>
			<if test="entityOld.startTime != null "><![CDATA[ and START_TIME = #{entityOld.startTime}]]> </if>
			<if test="entityOld.tenantName != null and entityOld.tenantName != ''"> and TENANT_NAME = #{entityOld.tenantName} </if>
			<if test="entityOld.tenantStatus != null and entityOld.tenantStatus != ''"> and TENANT_STATUS = #{entityOld.tenantStatus} </if>
			<if test="entityOld.tenantType != null and entityOld.tenantType != ''"> and TENANT_TYPE = #{entityOld.tenantType} </if>
		</if>
		<if test="propsMap != null">
			<!-- In query -->
			<if test="propsMap.tenantCodeIter != null and propsMap.tenantCodeIter.size()>0">
			and TENANT_CODE in <foreach item="item" index="index" collection="propsMap.tenantCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.idIter != null and propsMap.idIter.size()>0">
			and ID in <foreach item="item" index="index" collection="propsMap.idIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
		</when>
		<otherwise>
		<!-- 防止没有参数传递，导致全部更新 -->
		and 1=2
		</otherwise>
		</choose>
		</where>
	</update>
	<!-- 删除 -->
	<delete id="deleteBy" parameterType="java.util.Map">
		delete from <include refid="table_name" />
		<where>
		<choose>
		<when test="entity != null or propsMap != null">
		<if test="entity != null">
			<!-- Equal query -->
			<if test="entity.version != null "> and VERSION = #{entity.version} </if>
			<if test="entity.delFlag != null and entity.delFlag != ''"> and DEL_FLAG = #{entity.delFlag} </if>
			<if test="entity.createBy != null and entity.createBy != ''"> and CREATE_BY = #{entity.createBy} </if>
			<if test="entity.createTime != null "><![CDATA[ and CREATE_TIME = #{entity.createTime}]]> </if>
			<if test="entity.updateBy != null and entity.updateBy != ''"> and UPDATE_BY = #{entity.updateBy} </if>
			<if test="entity.updateTime != null "><![CDATA[ and UPDATE_TIME = #{entity.updateTime}]]> </if>
			<if test="entity.tenantCode != null and entity.tenantCode != ''"> and TENANT_CODE = #{entity.tenantCode} </if>
			<if test="entity.id != null and entity.id != ''"> and ID = #{entity.id} </if>
			<if test="entity.endTime != null "><![CDATA[ and END_TIME = #{entity.endTime}]]> </if>
			<if test="entity.serveType != null and entity.serveType != ''"> and SERVE_TYPE = #{entity.serveType} </if>
			<if test="entity.startTime != null "><![CDATA[ and START_TIME = #{entity.startTime}]]> </if>
			<if test="entity.tenantName != null and entity.tenantName != ''"> and TENANT_NAME = #{entity.tenantName} </if>
			<if test="entity.tenantStatus != null and entity.tenantStatus != ''"> and TENANT_STATUS = #{entity.tenantStatus} </if>
			<if test="entity.tenantType != null and entity.tenantType != ''"> and TENANT_TYPE = #{entity.tenantType} </if>
		</if>
		<if test="propsMap != null">
			<!-- In query -->
			<if test="propsMap.tenantCodeIter != null and propsMap.tenantCodeIter.size()>0">
			and TENANT_CODE in <foreach item="item" index="index" collection="propsMap.tenantCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.idIter != null and propsMap.idIter.size()>0">
			and ID in <foreach item="item" index="index" collection="propsMap.idIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
		</when>
		<otherwise>
		<!-- 防止没有参数传递，导致全部删除 -->
		and 1=2
		</otherwise>
		</choose>
		</where>
	</delete>
	<!-- ######################################################################### -->
	<!-- ##########################   common sql end    ########################## -->
	<!-- ######################################################################### -->

</mapper>
