<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.uupm.dao.UupmMenuDao">

	<!-- ######################################################################### -->
	<!-- #########################   common sql begin    ######################### -->
	<!-- ######################################################################### -->
	
	<!-- 表名 -->
	<sql id="table_name"> uupm_menu </sql>
	<!-- 列名 -->
	<sql id="table_columns">
		t.VERSION as version, t.DEL_FLAG as delFlag, t.CREATE_BY as createBy, t.CREATE_TIME as createTime, t.UPDATE_BY as updateBy, 
		t.UPDATE_TIME as updateTime, t.ID as id, t.TT_CODE as ttCode, t.ACCESS_TYPE as accessType, t.MENU_CODE as menuCode, 
		t.MENU_ICONS as menuIcons, t.MENU_NAME as menuName, t.MENU_SEQ_NO as menuSeqNo, t.MENU_TYPE as menuType, t.PARENT_CODE as parentCode
	</sql>
	<!-- 分页条件 -->
	<sql id="conditions_limit"><if test="page != null"> limit #{page.startIndex}, #{page.pageLimit} </if></sql>
	<!-- 排序条件 -->
	<sql id="conditions_orderby">
		<choose>
			<when test="orderBy != null and orderBy !=''"> ORDER BY #{orderBy} </when>
			<otherwise> ORDER BY id desc </otherwise>
		</choose>
	</sql>
	<!-- 动态组装复合查询条件 -->
	<sql id="conditions_where">
		<if test="entity != null">
			<!-- Equal query -->
			<if test="entity.version != null "> and t.VERSION = #{entity.version} </if>
			<if test="entity.delFlag != null and entity.delFlag != ''"> and t.DEL_FLAG = #{entity.delFlag} </if>
			<if test="entity.createBy != null and entity.createBy != ''"> and t.CREATE_BY = #{entity.createBy} </if>
			<if test="entity.createTime != null "><![CDATA[ and t.CREATE_TIME = #{entity.createTime}]]> </if>
			<if test="entity.updateBy != null and entity.updateBy != ''"> and t.UPDATE_BY = #{entity.updateBy} </if>
			<if test="entity.updateTime != null "><![CDATA[ and t.UPDATE_TIME = #{entity.updateTime}]]> </if>
			<if test="entity.ttCode != null and entity.ttCode != ''"> and t.TT_CODE = #{entity.ttCode} </if>
			<if test="entity.id != null and entity.id != ''"> and t.ID = #{entity.id} </if>
			<if test="entity.accessType != null and entity.accessType != ''"> and t.ACCESS_TYPE = #{entity.accessType} </if>
			<if test="entity.menuCode != null and entity.menuCode != ''"> and t.MENU_CODE = #{entity.menuCode} </if>
			<if test="entity.menuIcons != null and entity.menuIcons != ''"> and t.MENU_ICONS = #{entity.menuIcons} </if>
			<if test="entity.menuSeqNo != null "> and t.MENU_SEQ_NO = #{entity.menuSeqNo} </if>
			<if test="entity.menuType != null and entity.menuType != ''"> and t.MENU_TYPE = #{entity.menuType} </if>
			<if test="entity.parentCode != null and entity.parentCode != ''"> and t.PARENT_CODE = #{entity.parentCode} </if>
			<!-- Like query -->
			<if test="entity.menuName != null and entity.menuName != ''"> and t.MENU_NAME like CONCAT(CONCAT('%', #{entity.menuName}), '%') </if>
		</if>
		<if test="propsMap != null">
			<!-- In query -->
			<if test="propsMap.tenantCodeIter != null and propsMap.tenantCodeIter.size()>0">
			and t.TT_CODE in <foreach item="item" index="index" collection="propsMap.tenantCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.idIter != null and propsMap.idIter.size()>0">
			and t.ID in <foreach item="item" index="index" collection="propsMap.idIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.accessTypeIter != null and propsMap.accessTypeIter.size()>0">
			and t.ACCESS_TYPE in <foreach item="item" index="index" collection="propsMap.accessTypeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuCodeIter != null and propsMap.menuCodeIter.size()>0">
			and t.MENU_CODE in <foreach item="item" index="index" collection="propsMap.menuCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuIconsIter != null and propsMap.menuIconsIter.size()>0">
			and t.MENU_ICONS in <foreach item="item" index="index" collection="propsMap.menuIconsIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuNameIter != null and propsMap.menuNameIter.size()>0">
			and t.MENU_NAME in <foreach item="item" index="index" collection="propsMap.menuNameIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuSeqNoIter != null and propsMap.menuSeqNoIter.size()>0">
			and t.MENU_SEQ_NO in <foreach item="item" index="index" collection="propsMap.menuSeqNoIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuTypeIter != null and propsMap.menuTypeIter.size()>0">
			and t.MENU_TYPE in <foreach item="item" index="index" collection="propsMap.menuTypeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.parentCodeIter != null and propsMap.parentCodeIter.size()>0">
			and t.PARENT_CODE in <foreach item="item" index="index" collection="propsMap.parentCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
	</sql>
	<!-- 条件查询 -->
	<select id="selectListBy" parameterType="java.util.Map" resultType="com.yffd.easy.uupm.entity.UupmMenuEntity">
		select <include refid="table_columns" />
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
		<include refid="conditions_orderby" />
		<include refid="conditions_limit" />
	</select>
	<!-- 统计查询 -->
	<select id="selectCountBy" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from 
		<include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条查询 -->
	<select id="selectOneBy" parameterType="java.util.Map" resultType="com.yffd.easy.uupm.entity.UupmMenuEntity">
		select <include refid="table_columns" /> 
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条插入 -->
	<insert id="insertOneBy" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, TT_CODE, ACCESS_TYPE, MENU_CODE, MENU_ICONS, MENU_NAME, MENU_SEQ_NO, MENU_TYPE, PARENT_CODE)
		values
		(#{version}, #{delFlag}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{ttCode}, #{accessType}, #{menuCode}, #{menuIcons}, #{menuName}, #{menuSeqNo}, #{menuType}, #{parentCode})
	</insert>
	<!-- 批量插入 -->
	<insert id="insertListBy" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, TT_CODE, ACCESS_TYPE, MENU_CODE, MENU_ICONS, MENU_NAME, MENU_SEQ_NO, MENU_TYPE, PARENT_CODE)
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.version},#{item.delFlag},#{item.createBy},#{item.createTime},#{item.updateBy},
		#{item.updateTime},#{item.ttCode},#{item.accessType},#{item.menuCode},#{item.menuIcons},
		#{item.menuName},#{item.menuSeqNo},#{item.menuType},#{item.parentCode})
		</foreach>
	</insert>
	<!-- 更新 -->
	<update id="updateBy" parameterType="java.util.Map">
		update <include refid="table_name" />
		<set>
		<if test="entity != null">
			VERSION = VERSION + 1, 
			<if test="entity.delFlag != null and entity.delFlag != ''"> DEL_FLAG = #{entity.delFlag},  </if>
			<if test="entity.updateBy != null and entity.updateBy != ''"> UPDATE_BY = #{entity.updateBy},  </if>
			<if test="entity.updateTime != null"> UPDATE_TIME = #{entity.updateTime},  </if>
			<if test="entity.ttCode != null and entity.ttCode != ''"> TT_CODE = #{entity.ttCode},  </if>
			<if test="entity.accessType != null and entity.accessType != ''"> ACCESS_TYPE = #{entity.accessType},  </if>
			<if test="entity.menuCode != null and entity.menuCode != ''"> MENU_CODE = #{entity.menuCode},  </if>
			<if test="entity.menuIcons != null and entity.menuIcons != ''"> MENU_ICONS = #{entity.menuIcons},  </if>
			<if test="entity.menuName != null and entity.menuName != ''"> MENU_NAME = #{entity.menuName},  </if>
			<if test="entity.menuSeqNo != null"> MENU_SEQ_NO = #{entity.menuSeqNo},  </if>
			<if test="entity.menuType != null and entity.menuType != ''"> MENU_TYPE = #{entity.menuType},  </if>
			<if test="entity.parentCode != null and entity.parentCode != ''"> PARENT_CODE = #{entity.parentCode},  </if>
		</if>
		</set>
		<where>
		<choose>
		<when test="entityOld != null or propsMap != null">
		<if test="entityOld != null">
			<!-- Equal query -->
			<if test="entityOld.version != null "> and VERSION = #{entityOld.version} </if>
			<if test="entityOld.delFlag != null and entityOld.delFlag != ''"> and DEL_FLAG = #{entityOld.delFlag} </if>
			<if test="entityOld.createBy != null and entityOld.createBy != ''"> and CREATE_BY = #{entityOld.createBy} </if>
			<if test="entityOld.createTime != null "><![CDATA[ and CREATE_TIME = #{entityOld.createTime}]]> </if>
			<if test="entityOld.updateBy != null and entityOld.updateBy != ''"> and UPDATE_BY = #{entityOld.updateBy} </if>
			<if test="entityOld.updateTime != null "><![CDATA[ and UPDATE_TIME = #{entityOld.updateTime}]]> </if>
			<if test="entityOld.ttCode != null and entityOld.ttCode != ''"> and TT_CODE = #{entityOld.ttCode} </if>
			<if test="entityOld.id != null and entityOld.id != ''"> and ID = #{entityOld.id} </if>
			<if test="entityOld.accessType != null and entityOld.accessType != ''"> and ACCESS_TYPE = #{entityOld.accessType} </if>
			<if test="entityOld.menuCode != null and entityOld.menuCode != ''"> and MENU_CODE = #{entityOld.menuCode} </if>
			<if test="entityOld.menuIcons != null and entityOld.menuIcons != ''"> and MENU_ICONS = #{entityOld.menuIcons} </if>
			<if test="entityOld.menuName != null and entityOld.menuName != ''"> and MENU_NAME = #{entityOld.menuName} </if>
			<if test="entityOld.menuSeqNo != null "> and MENU_SEQ_NO = #{entityOld.menuSeqNo} </if>
			<if test="entityOld.menuType != null and entityOld.menuType != ''"> and MENU_TYPE = #{entityOld.menuType} </if>
			<if test="entityOld.parentCode != null and entityOld.parentCode != ''"> and PARENT_CODE = #{entityOld.parentCode} </if>
		</if>
		<if test="propsMap != null">
			<!-- In query -->
			<if test="propsMap.tenantCodeIter != null and propsMap.tenantCodeIter.size()>0">
			and TT_CODE in <foreach item="item" index="index" collection="propsMap.tenantCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.idIter != null and propsMap.idIter.size()>0">
			and ID in <foreach item="item" index="index" collection="propsMap.idIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.accessTypeIter != null and propsMap.accessTypeIter.size()>0">
			and ACCESS_TYPE in <foreach item="item" index="index" collection="propsMap.accessTypeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuCodeIter != null and propsMap.menuCodeIter.size()>0">
			and MENU_CODE in <foreach item="item" index="index" collection="propsMap.menuCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuIconsIter != null and propsMap.menuIconsIter.size()>0">
			and MENU_ICONS in <foreach item="item" index="index" collection="propsMap.menuIconsIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuNameIter != null and propsMap.menuNameIter.size()>0">
			and MENU_NAME in <foreach item="item" index="index" collection="propsMap.menuNameIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuSeqNoIter != null and propsMap.menuSeqNoIter.size()>0">
			and MENU_SEQ_NO in <foreach item="item" index="index" collection="propsMap.menuSeqNoIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuTypeIter != null and propsMap.menuTypeIter.size()>0">
			and MENU_TYPE in <foreach item="item" index="index" collection="propsMap.menuTypeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.parentCodeIter != null and propsMap.parentCodeIter.size()>0">
			and PARENT_CODE in <foreach item="item" index="index" collection="propsMap.parentCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
		</when>
		<otherwise>
		<!-- 防止没有参数传递，导致全部更新 -->
		and 1=2
		</otherwise>
		</choose>
		</where>
	</update>
	<!-- 删除 -->
	<delete id="deleteBy" parameterType="java.util.Map">
		delete from <include refid="table_name" />
		<where>
		<choose>
		<when test="entity != null or propsMap != null">
		<if test="entity != null">
			<!-- Equal query -->
			<if test="entity.version != null "> and VERSION = #{entity.version} </if>
			<if test="entity.delFlag != null and entity.delFlag != ''"> and DEL_FLAG = #{entity.delFlag} </if>
			<if test="entity.createBy != null and entity.createBy != ''"> and CREATE_BY = #{entity.createBy} </if>
			<if test="entity.createTime != null "><![CDATA[ and CREATE_TIME = #{entity.createTime}]]> </if>
			<if test="entity.updateBy != null and entity.updateBy != ''"> and UPDATE_BY = #{entity.updateBy} </if>
			<if test="entity.updateTime != null "><![CDATA[ and UPDATE_TIME = #{entity.updateTime}]]> </if>
			<if test="entity.ttCode != null and entity.ttCode != ''"> and TT_CODE = #{entity.ttCode} </if>
			<if test="entity.id != null and entity.id != ''"> and ID = #{entity.id} </if>
			<if test="entity.accessType != null and entity.accessType != ''"> and ACCESS_TYPE = #{entity.accessType} </if>
			<if test="entity.menuCode != null and entity.menuCode != ''"> and MENU_CODE = #{entity.menuCode} </if>
			<if test="entity.menuIcons != null and entity.menuIcons != ''"> and MENU_ICONS = #{entity.menuIcons} </if>
			<if test="entity.menuName != null and entity.menuName != ''"> and MENU_NAME = #{entity.menuName} </if>
			<if test="entity.menuSeqNo != null "> and MENU_SEQ_NO = #{entity.menuSeqNo} </if>
			<if test="entity.menuType != null and entity.menuType != ''"> and MENU_TYPE = #{entity.menuType} </if>
			<if test="entity.parentCode != null and entity.parentCode != ''"> and PARENT_CODE = #{entity.parentCode} </if>
		</if>
		<if test="propsMap != null">
			<!-- In query -->
			<if test="propsMap.tenantCodeIter != null and propsMap.tenantCodeIter.size()>0">
			and TT_CODE in <foreach item="item" index="index" collection="propsMap.tenantCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.idIter != null and propsMap.idIter.size()>0">
			and ID in <foreach item="item" index="index" collection="propsMap.idIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.accessTypeIter != null and propsMap.accessTypeIter.size()>0">
			and ACCESS_TYPE in <foreach item="item" index="index" collection="propsMap.accessTypeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuCodeIter != null and propsMap.menuCodeIter.size()>0">
			and MENU_CODE in <foreach item="item" index="index" collection="propsMap.menuCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuIconsIter != null and propsMap.menuIconsIter.size()>0">
			and MENU_ICONS in <foreach item="item" index="index" collection="propsMap.menuIconsIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuNameIter != null and propsMap.menuNameIter.size()>0">
			and MENU_NAME in <foreach item="item" index="index" collection="propsMap.menuNameIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuSeqNoIter != null and propsMap.menuSeqNoIter.size()>0">
			and MENU_SEQ_NO in <foreach item="item" index="index" collection="propsMap.menuSeqNoIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.menuTypeIter != null and propsMap.menuTypeIter.size()>0">
			and MENU_TYPE in <foreach item="item" index="index" collection="propsMap.menuTypeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.parentCodeIter != null and propsMap.parentCodeIter.size()>0">
			and PARENT_CODE in <foreach item="item" index="index" collection="propsMap.parentCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
		</when>
		<otherwise>
		<!-- 防止没有参数传递，导致全部删除 -->
		and 1=2
		</otherwise>
		</choose>
		</where>
	</delete>
	<!-- ######################################################################### -->
	<!-- ##########################   common sql end    ########################## -->
	<!-- ######################################################################### -->

	<select id="selectMenuInfo" parameterType="java.util.Map" resultType="com.yffd.easy.uupm.pojo.vo.UupmMenuInfoVo">
		select 
		t.ID as id, t.TT_CODE as ttCode, t.ACCESS_TYPE as accessType, t.MENU_CODE as menuCode, 
		t.MENU_ICONS as menuIcons, t.MENU_NAME as menuName, t.MENU_SEQ_NO as menuSeqNo, t.MENU_TYPE as menuType, t.PARENT_CODE as parentCode
		, t1.SHORT_URL as menuShortUrl
		, t2.APP_CONTEXT_PATH as appContextPath, t2.APP_DOMAIN as appDomain, t2.APP_PORT as appPort
		from 
		uupm_menu t left join uupm_resource t1 on t.MENU_CODE = t1.RS_CODE
		left join uupm_application t2 on t.MENU_CODE = t2.APP_CODE
		where t.TT_CODE=#{ttCode}
		<if test="parentCode != null and parentCode != ''"> and PARENT_CODE = #{parentCode} </if>
	</select>
	
	<!-- 管理员租户-待生成的菜单 -->
	<select id="selectMenuInfoForAdmin" parameterType="java.util.Map" resultType="com.yffd.easy.uupm.pojo.vo.UupmMenuInfoVo">
		select t.TREE_ID as treeId, t.RS_NAME as rsName, t.RS_CODE as rsCode, t.PARENT_CODE as parentCode, t.SEQ_NO as seqNo
		, t1.menuCode 
		from uupm_resource t
		left join 
		(select MENU_CODE as menuCode from uupm_menu where TT_CODE=#{ttCode}) t1
		on t.RS_CODE = t1.menuCode 
		where t.RS_TYPE='M' and t1.menuCode is null
	</select>
	<!-- 非管理员租户-待生成的菜单 -->
	<select id="selectMenuInfoForDefault" parameterType="java.util.Map" resultType="com.yffd.easy.uupm.pojo.vo.UupmMenuInfoVo">
		select t.TREE_ID as treeId, t.RS_NAME as rsName, t.RS_CODE as rsCode, t.PARENT_CODE as parentCode, t.SEQ_NO as seqNo
		, t1.menuCode 
		from uupm_tenant_resource t2 
		left join uupm_resource t on t2.RS_CODE = t.RS_CODE
		left join 
		(select MENU_CODE as menuCode from uupm_menu where TT_CODE=#{ttCode}) t1 on t.RS_CODE = t1.menuCode 
		where t.RS_TYPE='M' and t1.menuCode is null
	</select>
	
</mapper>
