<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.uupm.pojo.entity.UupmResourceEntity">


	<!-- ######################################################################### -->
	<!-- #########################   common sql begin    ######################### -->
	<!-- ######################################################################### -->
	
	<!-- 表名 -->
	<sql id="table_name"> uupm_resource </sql>
	<!-- 列名 -->
	<sql id="table_columns">
		t.VERSION as version, t.DEL_FLAG as delFlag, t.CREATE_BY as createBy, t.CREATE_TIME as createTime, t.UPDATE_BY as updateBy, 
		t.UPDATE_TIME as updateTime, t.ID as id, t.PARENT_CODE as parentCode, t.RS_CODE as rsCode, t.RS_NAME as rsName, 
		t.RS_TYPE as rsType, t.SEQ_NO as seqNo, t.SHORT_URL as shortUrl, t.TREE_ID as treeId
	</sql>
	<!-- 分页条件 -->
	<sql id="conditions_limit"><if test="page != null"> limit #{page.startIndex}, #{page.pageLimit} </if></sql>
	<!-- 排序条件 -->
	<sql id="conditions_orderby">
		<choose>
			<when test="orderBy != null and orderBy !=''"> ORDER BY #{orderBy} </when>
			<otherwise> ORDER BY id desc </otherwise>
		</choose>
	</sql>
	<!-- 动态组装复合查询条件 -->
	<sql id="conditions_where">
		<if test="entity != null">
			<!-- Equal query -->
			<if test="entity.version != null "> and t.VERSION = #{entity.version} </if>
			<if test="entity.delFlag != null and entity.delFlag != ''"> and t.DEL_FLAG = #{entity.delFlag} </if>
			<if test="entity.createBy != null and entity.createBy != ''"> and t.CREATE_BY = #{entity.createBy} </if>
			<if test="entity.createTime != null "><![CDATA[ and t.CREATE_TIME = #{entity.createTime}]]> </if>
			<if test="entity.updateBy != null and entity.updateBy != ''"> and t.UPDATE_BY = #{entity.updateBy} </if>
			<if test="entity.updateTime != null "><![CDATA[ and t.UPDATE_TIME = #{entity.updateTime}]]> </if>
			<if test="entity.id != null and entity.id != ''"> and t.ID = #{entity.id} </if>
			<if test="entity.parentCode != null and entity.parentCode != ''"> and t.PARENT_CODE = #{entity.parentCode} </if>
			<if test="entity.rsCode != null and entity.rsCode != ''"> and t.RS_CODE = #{entity.rsCode} </if>
			<if test="entity.rsType != null and entity.rsType != ''"> and t.RS_TYPE = #{entity.rsType} </if>
			<if test="entity.seqNo != null "> and t.SEQ_NO = #{entity.seqNo} </if>
			<if test="entity.shortUrl != null and entity.shortUrl != ''"> and t.SHORT_URL = #{entity.shortUrl} </if>
			<if test="entity.treeId != null and entity.treeId != ''"> and t.TREE_ID = #{entity.treeId} </if>
			<!-- Like query -->
			<if test="entity.rsName != null and entity.rsName != ''"> and t.RS_NAME like CONCAT(CONCAT('%', #{entity.rsName}), '%') </if>
		</if>
		<if test="propsMap != null">
			<!-- In query -->
			<if test="propsMap.idIter != null and propsMap.idIter.size()>0">
			and t.ID in <foreach item="item" index="index" collection="propsMap.idIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.parentCodeIter != null and propsMap.parentCodeIter.size()>0">
			and t.PARENT_CODE in <foreach item="item" index="index" collection="propsMap.parentCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.rsCodeIter != null and propsMap.rsCodeIter.size()>0">
			and t.RS_CODE in <foreach item="item" index="index" collection="propsMap.rsCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.treeIdIter != null and propsMap.treeIdIter.size()>0">
			and t.TREE_ID in <foreach item="item" index="index" collection="propsMap.treeIdIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
	</sql>
	<!-- 条件查询 -->
	<select id="selectListBy" parameterType="java.util.Map" resultType="com.yffd.easy.uupm.pojo.entity.UupmResourceEntity">
		select <include refid="table_columns" />
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
		<include refid="conditions_orderby" />
		<include refid="conditions_limit" />
	</select>
	<!-- 统计查询 -->
	<select id="selectCountBy" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from 
		<include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条查询 -->
	<select id="selectOneBy" parameterType="java.util.Map" resultType="com.yffd.easy.uupm.pojo.entity.UupmResourceEntity">
		select <include refid="table_columns" /> 
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条插入 -->
	<insert id="insertOneBy" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, PARENT_CODE, RS_CODE, RS_NAME, RS_TYPE, SEQ_NO, SHORT_URL, TREE_ID)
		values
		(#{version}, #{delFlag}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{parentCode}, #{rsCode}, #{rsName}, #{rsType}, #{seqNo}, #{shortUrl}, #{treeId})
	</insert>
	<!-- 批量插入 -->
	<insert id="insertListBy" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, PARENT_CODE, RS_CODE, RS_NAME, RS_TYPE, SEQ_NO, SHORT_URL, TREE_ID)
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.version},#{item.delFlag},#{item.createBy},#{item.createTime},#{item.updateBy},
		#{item.updateTime},#{item.parentCode},#{item.rsCode},#{item.rsName},#{item.rsType},
		#{item.seqNo},#{item.shortUrl},#{item.treeId})
		</foreach>
	</insert>
	<!-- 更新 -->
	<update id="updateBy" parameterType="java.util.Map">
		update <include refid="table_name" />
		<set>
		<if test="entity != null">
			VERSION = VERSION + 1, 
			<if test="entity.delFlag != null and entity.delFlag != ''"> DEL_FLAG = #{entity.delFlag},  </if>
			<if test="entity.updateBy != null and entity.updateBy != ''"> UPDATE_BY = #{entity.updateBy},  </if>
			<if test="entity.updateTime != null"> UPDATE_TIME = #{entity.updateTime},  </if>
			<if test="entity.parentCode != null and entity.parentCode != ''"> PARENT_CODE = #{entity.parentCode},  </if>
			<if test="entity.rsCode != null and entity.rsCode != ''"> RS_CODE = #{entity.rsCode},  </if>
			<if test="entity.rsName != null and entity.rsName != ''"> RS_NAME = #{entity.rsName},  </if>
			<if test="entity.rsType != null and entity.rsType != ''"> RS_TYPE = #{entity.rsType},  </if>
			<if test="entity.seqNo != null"> SEQ_NO = #{entity.seqNo},  </if>
			<if test="entity.shortUrl != null and entity.shortUrl != ''"> SHORT_URL = #{entity.shortUrl},  </if>
			<if test="entity.treeId != null and entity.treeId != ''"> TREE_ID = #{entity.treeId},  </if>
		</if>
		</set>
		<where>
		<choose>
		<when test="entityOld != null or propsMap != null">
		<if test="entityOld != null">
			<!-- Equal query -->
			<if test="entityOld.version != null "> and VERSION = #{entityOld.version} </if>
			<if test="entityOld.delFlag != null and entityOld.delFlag != ''"> and DEL_FLAG = #{entityOld.delFlag} </if>
			<if test="entityOld.createBy != null and entityOld.createBy != ''"> and CREATE_BY = #{entityOld.createBy} </if>
			<if test="entityOld.createTime != null "><![CDATA[ and CREATE_TIME = #{entityOld.createTime}]]> </if>
			<if test="entityOld.updateBy != null and entityOld.updateBy != ''"> and UPDATE_BY = #{entityOld.updateBy} </if>
			<if test="entityOld.updateTime != null "><![CDATA[ and UPDATE_TIME = #{entityOld.updateTime}]]> </if>
			<if test="entityOld.id != null and entityOld.id != ''"> and ID = #{entityOld.id} </if>
			<if test="entityOld.parentCode != null and entityOld.parentCode != ''"> and PARENT_CODE = #{entityOld.parentCode} </if>
			<if test="entityOld.rsCode != null and entityOld.rsCode != ''"> and RS_CODE = #{entityOld.rsCode} </if>
			<if test="entityOld.rsName != null and entityOld.rsName != ''"> and RS_NAME = #{entityOld.rsName} </if>
			<if test="entityOld.rsType != null and entityOld.rsType != ''"> and RS_TYPE = #{entityOld.rsType} </if>
			<if test="entityOld.seqNo != null "> and SEQ_NO = #{entityOld.seqNo} </if>
			<if test="entityOld.shortUrl != null and entityOld.shortUrl != ''"> and SHORT_URL = #{entityOld.shortUrl} </if>
			<if test="entityOld.treeId != null and entityOld.treeId != ''"> and TREE_ID = #{entityOld.treeId} </if>
		</if>
		<if test="propsMap != null">
			<!-- In query -->
			<if test="propsMap.idIter != null and propsMap.idIter.size()>0">
			and ID in <foreach item="item" index="index" collection="propsMap.idIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.parentCodeIter != null and propsMap.parentCodeIter.size()>0">
			and PARENT_CODE in <foreach item="item" index="index" collection="propsMap.parentCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.rsCodeIter != null and propsMap.rsCodeIter.size()>0">
			and RS_CODE in <foreach item="item" index="index" collection="propsMap.rsCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.treeIdIter != null and propsMap.treeIdIter.size()>0">
			and TREE_ID in <foreach item="item" index="index" collection="propsMap.treeIdIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
		</when>
		<otherwise>
		<!-- 防止没有参数传递，导致全部更新 -->
		and 1=2
		</otherwise>
		</choose>
		</where>
	</update>
	<!-- 删除 -->
	<delete id="deleteBy" parameterType="java.util.Map">
		delete from <include refid="table_name" />
		<where>
		<choose>
		<when test="entity != null or propsMap != null">
		<if test="entity != null">
			<!-- Equal query -->
			<if test="entity.version != null "> and VERSION = #{entity.version} </if>
			<if test="entity.delFlag != null and entity.delFlag != ''"> and DEL_FLAG = #{entity.delFlag} </if>
			<if test="entity.createBy != null and entity.createBy != ''"> and CREATE_BY = #{entity.createBy} </if>
			<if test="entity.createTime != null "><![CDATA[ and CREATE_TIME = #{entity.createTime}]]> </if>
			<if test="entity.updateBy != null and entity.updateBy != ''"> and UPDATE_BY = #{entity.updateBy} </if>
			<if test="entity.updateTime != null "><![CDATA[ and UPDATE_TIME = #{entity.updateTime}]]> </if>
			<if test="entity.id != null and entity.id != ''"> and ID = #{entity.id} </if>
			<if test="entity.parentCode != null and entity.parentCode != ''"> and PARENT_CODE = #{entity.parentCode} </if>
			<if test="entity.rsCode != null and entity.rsCode != ''"> and RS_CODE = #{entity.rsCode} </if>
			<if test="entity.rsName != null and entity.rsName != ''"> and RS_NAME = #{entity.rsName} </if>
			<if test="entity.rsType != null and entity.rsType != ''"> and RS_TYPE = #{entity.rsType} </if>
			<if test="entity.seqNo != null "> and SEQ_NO = #{entity.seqNo} </if>
			<if test="entity.shortUrl != null and entity.shortUrl != ''"> and SHORT_URL = #{entity.shortUrl} </if>
			<if test="entity.treeId != null and entity.treeId != ''"> and TREE_ID = #{entity.treeId} </if>
		</if>
		<if test="propsMap != null">
			<!-- In query -->
			<if test="propsMap.idIter != null and propsMap.idIter.size()>0">
			and ID in <foreach item="item" index="index" collection="propsMap.idIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.parentCodeIter != null and propsMap.parentCodeIter.size()>0">
			and PARENT_CODE in <foreach item="item" index="index" collection="propsMap.parentCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.rsCodeIter != null and propsMap.rsCodeIter.size()>0">
			and RS_CODE in <foreach item="item" index="index" collection="propsMap.rsCodeIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="propsMap.treeIdIter != null and propsMap.treeIdIter.size()>0">
			and TREE_ID in <foreach item="item" index="index" collection="propsMap.treeIdIter" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
		</when>
		<otherwise>
		<!-- 防止没有参数传递，导致全部删除 -->
		and 1=2
		</otherwise>
		</choose>
		</where>
	</delete>
	<!-- ######################################################################### -->
	<!-- ##########################   common sql end    ########################## -->
	<!-- ######################################################################### -->

</mapper>
