<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.demo.shiro.dao.IPermissionDao">


	<!-- ######################################################################### -->
	<!-- #########################   common sql begin    ######################### -->
	<!-- ######################################################################### -->
	
	<!-- 表名 -->
	<sql id="table_name"> sec_permission </sql>
	<!-- 列名 -->
	<sql id="table_columns">
		t.permission_id as pmsId, t.permission_name as pmsName
	</sql>
	<!-- 分页条件 -->
	<sql id="conditions_limit"><if test="page != null"> limit #{page.startIndex}, #{page.pageLimit} </if></sql>
	<!-- 排序条件 -->
	<sql id="conditions_orderby">
		<choose>
			<when test="orderBy != null and orderBy !=''"> ORDER BY #{orderBy} </when>
			<otherwise> ORDER BY pmsId desc </otherwise>
		</choose>
	</sql>
	<!-- 动态组装复合查询条件 -->
	<sql id="conditions_where">
		<if test="entity != null">
			<!-- Equal query -->
			<if test="entity.pmsId != null and entity.pmsId != ''"> and t.permission_id = #{entity.pmsId} </if>
			<if test="entity.pmsName != null and entity.pmsName != ''"> and t.permission_name = #{entity.pmsName} </if>
		</if>
	</sql>
	<!-- 条件查询 -->
	<select id="selectListBy" parameterType="java.util.Map" resultType="com.yffd.easy.demo.shiro.model.Permission">
		select <include refid="table_columns" />
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
		<include refid="conditions_orderby" />
		<include refid="conditions_limit" />
	</select>
	<!-- 统计查询 -->
	<select id="selectCountBy" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from 
		<include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条查询 -->
	<select id="selectOneBy" parameterType="java.util.Map" resultType="com.yffd.easy.demo.shiro.model.Permission">
		select <include refid="table_columns" /> 
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条插入 -->
	<insert id="insertOneBy" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table_name" />
		(permission_id, permission_name)
		values
		(#{pmsId}, #{pmsName})
	</insert>
	<!-- 批量插入 -->
	<insert id="insertListBy" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="table_name" />
		(permission_id, permission_name)
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.pmsId},#{item.pmsName})
		</foreach>
	</insert>
	<!-- 更新 -->
	<update id="updateBy" parameterType="java.util.Map">
		update <include refid="table_name" />
		<set>
		<if test="entity != null">
			VERSION = VERSION + 1, 
			<if test="entity.pmsName != null and entity.pmsName != ''"> permission_name = #{entity.pmsName},  </if>
		</if>
		</set>
		<where>
			permission_id = #{entityOld.pmsId}
		</where>
	</update>
	<!-- 删除 -->
	<delete id="deleteBy" parameterType="java.util.Map">
		delete from <include refid="table_name" />
		<where>
			permission_id = #{entityOld.pmsId}
		</where>
	</delete>
	<!-- ######################################################################### -->
	<!-- ##########################   common sql end    ########################## -->
	<!-- ######################################################################### -->

	<select id="selectPmsByUser" parameterType="java.util.Map" resultType="com.yffd.easy.demo.shiro.model.Permission">
		select p.permission_id as pmsId, p.permission_name as pmsName
		from sec_user u LEFT JOIN sec_user_role ur ON u.user_id=ur.user_id LEFT JOIN sec_role_permission rp on ur.role_id=rp.role_id LEFT JOIN sec_permission p ON rp.permission_id=p.permission_id
		<where>
			and p.permission_id is not null
			and u.user_name = #{userName}
		</where>
	</select>
	
</mapper>
