<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.demo.shiro.dao.IUserDao">


	<!-- ######################################################################### -->
	<!-- #########################   common sql begin    ######################### -->
	<!-- ######################################################################### -->
	
	<!-- 表名 -->
	<sql id="table_name"> sec_user </sql>
	<!-- 列名 -->
	<sql id="table_columns">
		t.user_id as userId, t.user_name as userName, t.password as password
	</sql>
	<!-- 分页条件 -->
	<sql id="conditions_limit"><if test="page != null"> limit #{page.startIndex}, #{page.pageLimit} </if></sql>
	<!-- 排序条件 -->
	<sql id="conditions_orderby">
		<choose>
			<when test="orderBy != null and orderBy !=''"> ORDER BY #{orderBy} </when>
			<otherwise> ORDER BY userId desc </otherwise>
		</choose>
	</sql>
	<!-- 动态组装复合查询条件 -->
	<sql id="conditions_where">
		<if test="entity != null">
			<!-- Equal query -->
			<if test="entity.userId != null and entity.userId != ''"> and t.user_id = #{entity.userId} </if>
			<if test="entity.userName != null and entity.userName != ''"> and t.user_name = #{entity.userName} </if>
			<if test="entity.password != null and entity.password != ''"> and t.password = #{entity.password} </if>
		</if>
	</sql>
	<!-- 条件查询 -->
	<select id="selectListBy" parameterType="java.util.Map" resultType="com.yffd.easy.demo.shiro.model.User">
		select <include refid="table_columns" />
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
		<include refid="conditions_orderby" />
		<include refid="conditions_limit" />
	</select>
	<!-- 统计查询 -->
	<select id="selectCountBy" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from 
		<include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条查询 -->
	<select id="selectOneBy" parameterType="java.util.Map" resultType="com.yffd.easy.demo.shiro.model.User">
		select <include refid="table_columns" /> 
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条插入 -->
	<insert id="insertOneBy" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table_name" />
		(user_id, user_name, password)
		values
		(#{userId}, #{userName}, #{password})
	</insert>
	<!-- 批量插入 -->
	<insert id="insertListBy" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="table_name" />
		(user_id, user_name, password)
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.userId},#{item.userName},#{item.password})
		</foreach>
	</insert>
	<!-- 更新 -->
	<update id="updateBy" parameterType="java.util.Map">
		update <include refid="table_name" />
		<set>
		<if test="entity != null">
			VERSION = VERSION + 1, 
			<if test="entity.userName != null and entity.userName != ''"> user_name = #{entity.userName},  </if>
			<if test="entity.password != null and entity.password != ''"> password = #{entity.password},  </if>
		</if>
		</set>
		<where>
			user_id = #{entityOld.userId}
		</where>
	</update>
	<!-- 删除 -->
	<delete id="deleteBy" parameterType="java.util.Map">
		delete from <include refid="table_name" />
		<where>
			user_id = #{entityOld.userId}
		</where>
	</delete>
	<!-- ######################################################################### -->
	<!-- ##########################   common sql end    ########################## -->
	<!-- ######################################################################### -->

</mapper>
