<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.2.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
    ">
    
    <!-- 导入datasource的相关配置 -->
    <import resource="classpath:spring/spring-datasource.xml" />
    <!-- 导入事务的相关配置 -->
    <import resource="classpath:spring/spring-tx.xml" />
    
	<!-- 集成mybatis begin -->
	<!-- 配置Session工厂 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
		<!-- 配置扫描Mapper XML的位置，当我们的Mapper文件跟对应的Mapper接口处于同一位置并且同名称的时候可以不用指定该属性的值 -->
		<property name="mapperLocations">
			<list>
				<value>classpath:mybatis/mapper/**/*Mapper.xml</value>
			</list>
		</property>
	</bean>
	<!-- 自动扫描Mapper接口文件 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 用来指定Mapper接口文件所在的包，多个包之间可以使用逗号或者分号进行分隔 -->
		<property name="basePackage" value="com.yffd.easy.demo.shiro.dao"></property>
	</bean>
	<!-- 配置Mybatis模板 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactory"/>
    </bean>
    <!-- 集成mybatis end -->
    
</beans>